
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://img.7ya.ru/pub/img/21312/2016-09-30124216.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"> Азбука Морзе</span>
          <p>Способ знакового кодирования, представление букв алфавита, цифр, знаков препинания и других символов последовательностью сигналов: длинных (тире) и коротких (точек).</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://image.mel.fm/i/Y/Yb6g5q8ejj/590.png">
        </div>
        <div class="card-content">
          <span class="card-title">Квадрат Полибия</span>
          <p>Квадрат Полибия — шифр простой замены.
             В данном примере будет использоваться двумерная матрица 6х6.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars.mds.yandex.net/get-zen_doc/15270/pub_5cdd5e131d586800b3879cdf_5cdd90efd0ca5d00b87d31c4/scale_1200">
        </div>
        <div class="card-content">
          <span class="card-title">Шифр Виженера</span>
          <p>метод полиалфавитного шифрования буквенного текста с использованием ключевого слова. Этот метод является простой формой многоалфавитной замены.</p>
        </div>
      </div>
    </div>
  </div>